.footer {
   text-align: center;
   position: absolute;
   bottom: 30px;
   left: 50%;
   width: 100%;
   padding: 0 15px;
   transform: translateX(-50%);
   &__copy {
      padding: 10px 0;
      color: #9BA3A8;
      font-weight: 300;
      font-size: em(11);
   }
   @media(max-width: 550px){
      & > img {max-width: 124px;}
   }
}