/*====================
	reset & default
====================*/
::-webkit-scrollbar{width: 6px;}
::-webkit-scrollbar-thumb {background: #ccc; cursor: pointer; border-radius: 3px}
::-webkit-scrollbar-track-piece{background: #eee;cursor: pointer}
::-webkit-scrollbar-corner{background: transparent;border: none}

html {
	scroll-behavior: smooth;
	font-family: sans-serif;
	box-sizing: border-box;
	font-size: 15px;
	-ms-overflow-style: scrollbar
}
*,*::before,*::after {
	margin: 0;
	padding: 0;
	outline: 0 none;
	border: none;
	box-sizing: inherit
}
img {max-width: 100%;}

body {
	position: relative;
	color: #67737D;
	font: 17px 'Nunito Sans',Arial,sans-serif;
	font-weight: 300;
	line-height: 1.41;
	background: #f7f7f8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
section {
	width: 100%;
	position: relative;
}
a,a:focus {
	text-decoration:none;
	outline:0;
	cursor: pointer;
	transition: .3s;
	user-select: none;
}
h1 {
	font-size: 2.14em;
	letter-spacing: .05em;
	line-height: 1.36;
}
p {padding-bottom: 1em;}

label > span {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}