/*======================================
  Selectric
======================================*/
.selectric-wrapper {
  position: relative;
  cursor: pointer;
}
.selectric-responsive {
  width: 100%;
}
.selectric {
  border: 2px solid #D1DCE6;
  border-radius: 6px;
  height: 56px;
  background: #fff;
  position: relative;
  text-align: left;
  transition: .2s;
}
.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 30px 0 0;
  padding: 5px 20px;
  line-height: 46px;
  color: #444;
  min-height: 18px;
  transition: .2s;
}
.selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 52px;
  background: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1L7 7L1 1' stroke='%23D1DCE6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat 50%;
  font: 0/0 a;
  pointer-events: none;
}
.selectric-hover .selectric .button:after {
  border-top-color: #888;
}
.selectric-open {
  z-index: 10;
}
.selectric-open .selectric {
  border-color: #2A97D2;
  .label {color: #B6BEC5;}
}
.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}
.selectric-hide-select select {
  position: absolute;
  left: -100%;
}
.selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}
.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}
/* Items box */
.selectric-items {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-12px);
  position: absolute;
  top: calc(100% - 15px);
  left: 0;
  background: #fff;
  border: 2px solid #2A97D2;
  border-top: none;
  padding: 15px 0 10px;
  border-radius: 0 0 6px 6px;
  text-align: left;
}
.selectric-open .selectric-items {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: .2s ease;
}
.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}
.selectric-items:after {
  margin-top: 4px;
  border-bottom-color: #FFF;
}
.selectric-above .selectric-items:before,
.selectric-above .selectric-items:after {
  top: 100%;
  border-bottom-width: 0;
  border-top: 6px solid #BBB;
  margin-top: 0;
}
.selectric-above .selectric-items:after {
  border-top-color: #FFF;
  margin-top: -1px;
}
.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}
.selectric-items ul, .selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 20px;
  min-height: 20px;
}
.selectric-items li {
  display: block;
  padding: 10px 30px 10px 20px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: .2s;
}
.selectric-items li:after {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  right: -10px;
  width: 50px;
  height: 100%;
  background: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8031 4.23231L9.3889 2.8181L3.73204 8.47495L1.61072 6.35363L0.19651 7.76785L3.73204 11.3034L10.8031 4.23231Z' fill='%23D5DfEA'/%3E%3C/svg%3E%0A") no-repeat 50% 50%;
  opacity: 0;
  transition: .2s;
}
.selectric-items li.selected:after {
  opacity: 1;
  right: 0;
}
.selectric-items li:hover,.selectric-items li.selected {
  background: #EDF1F5;
}

.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: none;
  color: #444;
}
.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}
.selectric-items .selectric-group li {
  padding-left: 25px;
}