@import "vars";
@import "mixins";
@import "libs";
@import "selectric";
@import "preloader";
@import "reset";
@import "footer";
@import "popup-terms";


/*--- main styles ---*/
.wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	min-height: 100vh;
	padding-top: 30px;
	padding-bottom: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column wrap;
}
.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 1200px;
}
.btn {
	display: block;
	width: 100%;
	border: none;
	text-align: center;
	white-space: nowrap;
	letter-spacing: .1em;
	text-transform: uppercase;
	padding: 22px 11px;
	margin-top: 20px;
	margin-bottom: 4px;
	line-height: 1.1;
	background: linear-gradient(64deg, #045386 0%, #4DB6E5 100%);
	background-size: 140% 100%;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	border-radius: 6px;
	font-size: em(19);
	color: #fff;
	outline-color: transparent;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	cursor: pointer;
	user-select: none;
	transition: .3s;
	&:hover {background-position: 40% 100%;}
	&:active {background-position: 0% 100%;}
	@media(max-width: 800px){
		padding: 18px 8px;
		font-size: 1em;
		font-weight: 600;
	}
	@media(max-width: 360px){
		font-size: 0.9em;
	}
}
.box {
	width: 100%;
	max-width: 768px;
	background-color: #fff;
	box-shadow: 0px 8px 32px rgba(5, 41, 72, 0.05);
	border-radius: 12px;
	padding: 56px calc(3.8% + 14px) 44px;
	margin: 20px auto;
	text-align: center;
	@media(max-width: 1200px){
		max-width: 680px;
	}
	@media(max-width: 991px){
		max-width: 660px;
		margin: 5px auto 10px;
		padding: 46px calc(3.8% + 14px) 42px;
	}
	@media(max-width: 380px){
		padding: 32px 19px;
	}
}
.title {
	font-family: $ff;
	font-weight: 400;
	font-size: em(30);
	line-height: 1.33;
	color: #475058;
	padding-bottom: .5em;
	&--lg {
		font-size: em(42);
	}
}
.subtitle {
	display: block;
	font-style: normal;
	font-size: em(20);
	color: #67737D;
	max-width: 566px;
	margin: .1em auto 1.6em;
	@media(max-width: 550px){
		margin-bottom: 1em;
	}
}
.form {
	position: relative;
	&__field {
		display: block;
		text-align: center;
		width: 100%;
		padding-bottom: 20px;
		> span {
			display: block;
			color: #475058;
			font-size: em(20);
			margin-bottom: .2em;
		}
	}
	&__input {
		display: block;
		width: 100%;
		border: 2px solid #D1DCE6;
		background-color: #fff;
		border-radius: 6px;
		height: 56px;
		color: #475058;
		padding: 10px 24px;
		transition: .3s;
		font: inherit;
		&:focus {border-color: #2A97D2;}
		&:invalid:focus {border-color: #F94141;
		}
	}
}
.icon {
	position: relative;
	top: -2px;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 11px;
	width: 31px;
	height: 31px;
	background-color: #7f8489;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 14px;
	&--lock{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 14 16' fill='none'%3E%3Cpath d='M4 7V4C4 2.34315 5.34315 1 7 1V1C8.65685 1 10 2.34315 10 4V7M4 7H2C1.44772 7 1 7.44772 1 8V14C1 14.5523 1.44772 15 2 15H12C12.5523 15 13 14.5523 13 14V8C13 7.44772 12.5523 7 12 7H10M4 7H10' stroke='%23ddd'/%3E%3C/svg%3E");
		background-position: center 48%;
	}
}
.text-muted {
	color: #b6bec5;
	margin-top: 6px;
	@media(max-width: 420px){
		margin-top: 0;
	}
	.icon--lock {
		margin-right: 4px;
		background-color: transparent;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='16' viewBox='0 0 14 16' fill='none'%3E%3Cpath d='M4 7V4C4 2.34315 5.34315 1 7 1V1C8.65685 1 10 2.34315 10 4V7M4 7H2C1.44772 7 1 7.44772 1 8V14C1 14.5523 1.44772 15 2 15H12C12.5523 15 13 14.5523 13 14V8C13 7.44772 12.5523 7 12 7H10M4 7H10' stroke='%23bbb'/%3E%3C/svg%3E");
	}
}
.ad {
	padding: 30px 0;
	&__title {
		color: #67737D;
		font-size: em(20);
		margin-bottom: 2em;
	}
}
.info {
	padding: 8px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@media(max-width: 767px){
		justify-content: space-around;
	}
	&__item {
		flex: 0 1 33.3333%;
		max-width: 30%;
		@media(max-width: 767px){
			flex: 0 1 50%;
			max-width: 46%;
			margin-bottom: 5px;
		}
		@media(max-width: 490px){
			flex: 0 1 100%;
			max-width: 100%;
		}
		i {
			display: block;
			width: 80px;
			height: 80px;
			margin: 0 auto 12px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			@media(max-width: 991px){
				width: 70px;
				height: 70px;
			}
			@media(max-width: 380px){
				width: 60px;
				height: 60px;
			}
			@media(max-width: 380px){
				margin-bottom: 8px;
			}
		}
	}
}
input[type=password] {
	color: #2A97D2;
	letter-spacing: .15em
}
input[type=checkbox],input[type=radio] {
	width: 18px;
	height: 18px;
	left: 0px;
	top: 0px;
	background: #fff;
	border: 1px solid #b6bec5;
	display: inline-block;
	vertical-align: baseline;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 3px;
	margin-right: 9px;
	margin-bottom: -.15em;
	outline-color: transparent;
	transition: background-color .2s;
	box-shadow: none;
}
input[type=checkbox]:checked {
	border-color: #2A97D2;
	background-color: #2A97D2;
	background-repeat: no-repeat;
	background-position: center 37%;
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='12' viewBox='0 0 11 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8031 4.23231L9.3889 2.8181L3.73204 8.47495L1.61072 6.35363L0.19651 7.76785L3.73204 11.3034L10.8031 4.23231Z' fill='%23FFFFFF'/%3E%3C/svg%3E%0A");
}
input[type=radio] {
	border-radius: 50%!important;
	cursor: pointer;
	position: absolute;
	width: 1px;
	height: 1px;
	visibility: hidden;
}
// input[type=radio]:checked {
// 	background-repeat: no-repeat;
// 	background-position: center;
// 	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M5 10C2.2435 10 0 7.7565 0 5C0 2.2435 2.2435 0 5 0C7.7565 0 10 2.2435 10 5C10 7.7565 7.75635 10 5 10Z' fill='%2344B0E2'/%3E%3C/svg%3E");
// }

.link {
	color: #2A97D2;
	font-weight: 600;
	&:hover {color: #32abed;}
}
.half {
	flex: 0 1 50%;
	max-width: 47.4%;
	@media(max-width: 670px){
		flex: 0 1 100%;
		max-width: 100%;
	}
}
.half-all {
	flex: 0 1 50%;
	max-width: 47.4%;
}
.profile-img {
	display: inline-block;
	margin: 1em 0 2em;
}
.ask {
	margin-bottom: 2.8em;
	@media(max-width: 991px){
		margin-bottom: 2em;
	}
}
.btn-toggle {
	display: block;
	width: 100%;
	background: #EDF1F5;
	border-radius: 6px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: .1em;
	padding: 18px;
	line-height: 1.1;
	text-align: center;
	transition: .3s;
	@media(max-width: 800px){
		padding: 15px;
	}
	@media(max-width: 360px){
		padding: 13px;
	}
	svg {
		display: inline-block;
		vertical-align: -3px;
		width: 19px;
		height: 19px;
		margin-right: 6px;
		fill: #2a97d2;
		transition: .2s;
	}
	&:hover {
		color: #fff;
		background: #5E6D79;
		svg {
			fill: currentColor;
			transition: 0s;
		}
	}
	&:active, :checked + & {
		color: #fff;
		background: #4D5B66;
		svg {
			fill: currentColor;
			transition: 0s;
		}
	}
}

@import "responsive"; // Always at the end
