<div class="overlay" id="overlay">
   <div class="preloader">
      <div class="sq"></div>
      <div class="sq"></div>
      <div class="sq"></div>
      <div class="sq"></div>
      <div class="sq"></div>
   </div>
   <div class="preloader__text">We are busy searching our lender network. This may take up to 2 minutes. <br>Please don't close or exit this browser....</div>
   <footer class="footer">
      <img src="img/logo.png" alt="">
      <div class="footer__copy">All Rights Reserved | © 2019 Market Overflow</div>
   </footer>
</div>