<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1"
   xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
   <defs>
      <symbol id="i-ok" viewBox="0 0 41 32">
         <path d="M13.177 25.041l24.756-24.756 3.194 3.194-27.95 27.95-12.891-12.891 3.194-3.194 9.697 9.697z"></path>
      </symbol>
      <symbol id="i-no" viewBox="-1 -1 38 36">
         <path d="M12.606 16l-12.303-12.303 3.394-3.394 12.303 12.303 12.303-12.303 3.394 3.394-12.303 12.303 12.303 12.303-3.394 3.394-12.303-12.303-12.303 12.303-3.394-3.394 12.303-12.303z"> </path>
      </symbol>
   </defs>
</svg>